:root  {
    --white: #fff;
    --black: #000;
    --green: #78BE20;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color: #000;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
}

nav {
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #78BE20;
    color: #fff;
    font-size: 2rem;
    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    flex: 1;
}

iframe {
    flex: 1;
    width: 100vw;
    border: none;
}

button {
    cursor: pointer;
}